name: DokerHub Continuous Deployment
on:
  push:

jobs:
    secrets:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6-beta
              with:
                token: ${{ secrets.DOCKERHUB_TOKEN }}
          
            - name: DockerHub Login
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
