name: DokerHub Continuous Deployment
on:
  push:

jobs:
    secrets:
        runs-on: ubuntu-latest
        steps:
            - name: Docker Login
              uses: docker/login-action@v3.6.0
              with:
                username: secrets.DOCKERHUB_USERNAME
                password: secrets.DOCKERHUB_PASSWORD
            
