name: DokerHub Continuous Deployment
on:
  push:

jobs:
    secrets:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: DockerHub Login
              uses: docker/login-action@v2
            - name: Build and push Docker images
              uses: docker/build-push-action@v6.18.0
